<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="static/see_answers.css" rel="stylesheet">
        <title>See answers: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="topnav">
            <a href="home">Home</a>
            <a  href="ask">Ask a question</a>
            <a href="answer">All questions</a>
            <a href="logout">Logout</a>
        </div>
        <br>
        <h1>See answers</h1>
        <table class="table1">
            <thead class="thead1">
                <tr>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody class="tbody1">
                <tr>
                    <td>{{ question }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="answers">
            <table class="table2">
                <thead class="thead2">
                    <tr>
                        <th>Answers</th>
                    </tr>
                </thead>
                <tbody class="tbody2">
                    {% for answer in answers %}
                    <tr>
                        <td>{{ answer["answer"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
